.base-page-container {
    height: 100%;
    width: 100%;

    padding: 32px;

    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;

    background: var(--ion-background-color-medium);

    overflow-y: scroll;
}

.base-page-title-container {
    margin: 32px 32px 16px 48px;

    h1 {
        font-weight: bold;
    }
}

.base-page-children {
    flex-grow: 1;
    margin: 16px 32px 16px 48px;
}
