.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    background-color: var(--ion-color-light);

    display: flex;
    flex-direction: column;
}
