.wealth-select-item {
    padding-top: 8px;
    padding-bottom: 4px;
    margin-right: 16px;
    flex-grow: 1;
}

.wealth-select-label {
    margin-bottom: 8px !important;
}
.select-item-error {
    color: #ff0000;
    padding-left: 12px;
    font-size: smaller;
}
